USE [Proyecto]
GO
/****** Object:  Table [dbo].[DIM_ALIMENTO]    Script Date: 9/28/2024 4:15:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_ALIMENTO](
	[AlimentoID] [int] NOT NULL,
	[NombreAlimento] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_ALIMENTO] PRIMARY KEY CLUSTERED 
(
	[AlimentoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_CAJERO]    Script Date: 9/28/2024 4:15:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CAJERO](
	[CajeroID] [int] NOT NULL,
	[NombreCajero] [varchar](50) NULL,
	[ApellidoCajero] [varchar](50) NULL,
	[Cafeteria_FK] [int] NULL,
	[NombreCafeteria] [nchar](10) NULL,
 CONSTRAINT [PK_DIM_CAJERO] PRIMARY KEY CLUSTERED 
(
	[CajeroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_CATEGORIA]    Script Date: 9/28/2024 4:15:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CATEGORIA](
	[CategoriaID] [int] NOT NULL,
	[Clasificacion_FK] [int] NULL,
	[DescripcionCat] [varchar](50) NULL,
	[NombreClass] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_TIEMPO]    Script Date: 9/28/2024 4:15:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TIEMPO](
	[Fecha] [date] NOT NULL,
	[año] [nchar](10) NULL,
	[mes] [nchar](10) NULL,
	[dia] [nchar](10) NULL,
	[Semana] [nchar](10) NULL,
	[Trimestre] [nchar](10) NULL,
	[MedioAño] [nchar](10) NULL,
 CONSTRAINT [PK_DIM_TIEMPO] PRIMARY KEY CLUSTERED 
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT_ORDEN]    Script Date: 9/28/2024 4:15:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_ORDEN](
	[AlimentoID] [int] NOT NULL,
	[OrdenID] [int] NOT NULL,
	[CajeroID] [int] NOT NULL,
	[FechaID] [int] NOT NULL,
	[CategoriaID] [int] NOT NULL,
	[Propina] [float] NULL,
	[Factura] [nchar](5) NULL,
	[Utilidad] [money] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [money] NULL,
	[CostoUnitario] [money] NULL,
	[PrecioLinea] [money] NULL,
 CONSTRAINT [PK_FACT_ORDEN] PRIMARY KEY CLUSTERED 
(
	[AlimentoID] ASC,
	[OrdenID] ASC,
	[CajeroID] ASC,
	[FechaID] ASC,
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUB_ORDEN]    Script Date: 9/28/2024 4:15:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUB_ORDEN](
	[OrdenID] [int] NOT NULL,
 CONSTRAINT [PK_SUB_ORDEN] PRIMARY KEY CLUSTERED 
(
	[OrdenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
